.translate-slide-enter-active, .translate-slide-leave-active {
	transition: all .3s;
}
.translate-slide-enter, .translate-slide-leave-active {
	opacity: 0;
}
.translate-slide-enter {
	transform: translateX(31px);
}
.translate-slide-leave-active {
	transform: translateX(-31px);
}


.translate-slide-reverse-enter-active, .translate-slide-reverse-leave-active {
	transition: all .3s;
}
.translate-slide-reverse-enter, .translate-slide-reverse-leave-active {
	opacity: 0;
}
.translate-slide-reverse-enter {
	transform: translateX(-31px);
}
.translate-slide-reverse-leave-active {
	transform: translateX(31px);
}


.fade-enter-active, .fade-leave-active {
	transition-property: opacity;
	transition-duration: .25s;
}
  
.fade-enter-active {
	transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
	opacity: 0
}